@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );
    background-repeat: no-repeat;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

form {
    display: flex;
    flex-direction: column;
}

main.container {
    background-color: white;
    max-width: 350px;
    min-height: 40vh;
    padding: 2rem;
    border-radius: 7px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);

}

main h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    transition: all 0.3s ease-in-out;
}

main h2:hover {
    letter-spacing: 1.5px;
    color: rgba(99,88,238,1);
    
}

form input[type="submit"] {
    margin-top: 2rem;
    padding: 7px;
    background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    font-weight: 300;
    transition: all 0.3s ease;

}

form input[type="submit"]:hover {
    letter-spacing: 0.5px;
    background-image: linear-gradient( to left,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );
    scale: 105%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.input-field input {
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 2px 0px -1px rgba(0,0,0,0.4);
    width: 100%;


}

.input-field input:focus {
    box-shadow: 0px 2px 0px -1px rgba(0,0,0,0.7);
}
    

.input-field {
    position: relative;
}

form .input-field:first-child {
    margin-bottom: 2rem;
}

.footer {
    margin-top: 25px;
    font-size: 0.9rem;

}

.footer a {
    text-decoration: none;
    color: #4a50c3;
}

.footer a:hover {
    color: #5f629c;
}
